/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    text-decoration: none;
    list-style-type: none;
}

header {
    position: fixed;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 30px 0px 30px;
}

.box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.user a {
    cursor: pointer;
}

.cart-icon {
    cursor: pointer;
    height: 25px;
    width: 25px;
}

.icon-user {
    height: 30px;
    width: 30px;
}

.logo {
    height: 100px;
    width: 100px;
}

#navbar {
    background-color: white;
    padding: 10px 0px 14px 0px;
    width: 100%;
}

.navbar, .navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}



.navbar-list a {
    color: black;
    font-weight: 600;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 145px 0px 80px 0px;
}

.info-card-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
}

.info-card {
    width: 290px;
    height: 270px;
    padding: 35px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    gap: 40px;
    background-color: #ddccf1;
}

.info-card h1 {
    font-weight: 700;
    font-size: 26px;
}

.info-card p {
    font-weight: 600;
}

.hero-img-slider {
    width: 100%;
    height: 500px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.hero-img-slider ul {
    display: flex;
    animation: cambio 40s infinite alternate linear;
    justify-content: center;
    width: 600%;
}

.hero-img-slider li {
    width: 100%;
}

.hero-img-slider img {
    width: 100%;
    height: 500px;
}


@keyframes cambio {
    0%{margin-left: 0;}
    15%{margin-left: 0;}

    20%{margin-left: -100%;}
    30%{margin-left: -100%;}

    35%{margin-left: -200%;}
    45%{margin-left: -200%;}

    50%{margin-left: -300%;}
    60%{margin-left: -300%;}

    65%{margin-left: -400%;}
    75%{margin-left: -400%;}

    80%{margin-left: -500%;}
    100%{margin-left: -500%;}

}

#fragancias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0px 80px;
    width: 100%;
}

#fragancias h1 {
    font-size: 40px;
    margin: 40px;
}

.categories{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.category {
    width: 70%;
    border-color: black;
    padding: 15px 15px;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
}


.productos-container {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 60px 0;
}

.producto img {
    width: 250px;
    height: 250px;
}

.producto {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 20px;
}

.producto-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.producto-info-top h3 {
    font-size: 20px;
    font-weight: 500;
}
.producto-info-top h5 {
    font-size: 14px;
    font-weight: 200;
}

.producto-info-bot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.bot-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.bot-text h5 {
    font-size: 12px;
    font-weight: 300;
}

.bot-text span {
    font-size: 14px;
    font-weight: 700;
}

/* .btn-comprar {
    padding: 5px;
    font-weight: 700;
} */

.button-81 {
    background-color: #fff;
    border: 0 solid #e2e8f0;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    padding: 5px;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-81:hover {
    background-color: black;
    color: #fff;
}

/* style category state */
.active {
    background: #ddccf1;
    border-color: #ddccf1;
    color: rgb(0, 0, 0);
}


.loadMore {
    width: 20%;
    border-color: black;
    padding: 10px 10px;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
}

#maquillaje {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px 80px;
}

#maquillaje h1{
    font-size: 40px;
    margin: 40px;
}

#beneficios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 160px 0px;
    gap: 30px;
}

#beneficios h1 {
    font-size: 40px;
    margin: 20px;
}

#beneficios p {
    text-align: center;
    width: 70%;
}

#beneficios h2{
    font-size: 30px;
    font-weight: 300;
    margin: 16px;
}

.beneficios-img {
    max-width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#contacto {
    padding: 80px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 200px;
}

.contact-us {
    background-color: white;
    padding: 30px;
}

.contact-us h1 {
    font-size: 40px;
    font-weight: 600;
    padding: 0px 0px 30px 15px;
}


.contact-img-redes img {
    height: 16px;
    margin: 20px;
}

.contact-img-redes {
    margin: 20px 50px 0px 50px;
}


footer {
    background-color: #ddccf1;
    height: 50px;
}

.footer-information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin: 0px 20px;
}

.logo-footer {
    height: 40px;
    width: 60px;
}

.contact-img-redes-footer img {
    height: 16px;
    width: 16px;
}

/* MENU HAMBURGUESA */

#cart-toggle,
#menu-toggle,
.menu-label {
    display: none;
}

/* CARRITO */

#cart-toggle:checked + .carrito {
    display: flex;
}

.carrito {
    position: absolute;
    justify-content: space-between; 
    top: 65px;
    height: 100vh;
    right: 0;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: calc(100vh - 65px);
    overflow-y: scroll;
    display: none;
    z-index: 2;
    background-color: white;
    width: 25%;
}

.carrito::-webkit-scrollbar {
    display: none;
}

.carrito-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.carrito-item img {
    height: 100px;
    width: 100px;
}

.carrito h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 200;
    margin: 20px;
}

.carrito-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}


.item-info {
    max-width: 130px;
}

.item-title {
    font-size: 18px;
    font-weight: 600;
}

.item-bid {
    font-size: 14px;
    margin-bottom: 10px;
}

.item-price {
    font-weight: 700;
}

.item-cantidad {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.down {
    font-weight: 600;
    padding: 4px 6px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 4px;
}

.up {
    font-weight: 600;
    padding: 4px 5px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 4px;
}

.item-quantity {
    margin: 5px;
}

.divider {
    margin-top: 20px;
    border: 0.5px solid #ddccf1 ;
    width: 100%;
}

.cart-total {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cart-total p {
    font-size: 20px;
    font-weight: 500;

}

/* Botón Comprar*/
.btn-buy {
    position: relative;
    margin: auto;
    padding: 14px 22px;
    transition: all 0.2s ease;
}
.btn-buy:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: rgba(219, 193, 235, 0.911);
    width: 50px;
    height: 50px;
    transition: all 0.3s ease;
}
.btn-buy span {
    color: black;
    margin-bottom: 25px;
    position: relative;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    vertical-align: middle;
}
.btn-buy img {
    height: 18px;
    margin-left: 5px;
    position: relative;
    top: 0;
    fill: none;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}
.btn-buy:hover:before {
    width: 100%;
    background: #bc7ce0;
}
.btn-buy:hover img {
    transform: translateX(0);
}
.btn-buy:active {
    transform: scale(0.96);
}

/* Botón Vaciar Carrito */
.delete {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: .3s;
    overflow: hidden;
    position: relative;
}

.svgIcon {
    width: 12px;
    transition-duration: .3s;
}

.svgIcon path {
    fill: white;
}

.delete:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: .3s;
    background-color: rgb(255, 69, 69);
    align-items: center;
}

.delete:hover .svgIcon {
    width: 50px;
    transition-duration: .3s;
    transform: translateY(60%);
}

.delete::before {
    position: absolute;
    top: -20px;
    content: "Delete";
    color: white;
    transition-duration: .3s;
    font-size: 2px;
}

.delete:hover::before {
    font-size: 13px;
    opacity: 1;
    transform: translateY(30px);
    transition-duration: .3s;
}

/*Toggle del carro*/
.open-cart {
    transform: translate(0%);
    transition: all 1s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

.empty-msg {
    color: black;
    font-size: 14px;
}

.hidden {
    display: none;
}

/* */
.add-modal {
    padding: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-white);
    background-color: green;
    position: fixed;
    bottom: 0;
    width: 100%;
    transition: all 0.5s ease-out;
    transform: translateY(200%);
}

.active-modal {
    transform: translateY(0);
    transition: all 0.5s ease-in;
}


/* ----------- CONTACTO FORMULARIO ----------- */
.contenedor-login {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.input-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 50px;
    width: 100%;
}

.input-info input {
    height: 40px;
    width: 300px;
    padding-left: 10px;
    outline: none;
    border-color: #ddccf1;
}

/* ERROR  / SUCCESS */

.input-info.error input {
    border: 1px solid #dc3545;
    height: 600px;
    width: 300px;
}

.input-info small {
    color: #dc3545;
    height: 20px;
    max-width: 300px;
    padding-top: 3px;
    text-align:center;
    display: none;
}

.input-info,
.input-info.success input {
    height: 55px;
    width: 300px;
    padding-left: 10px;
    outline: none;
    border-color: #a86dec;
    gap: 0px;
    padding-left: 5px;
};


#form__error {
    color: #dc3545;
    font-size: 1rem;
    margin: 8px 0px;
    max-width: 350px;
    text-align: center;
}

.button {
    appearance: none;
    background-color: #ddccf1;
    border: 2px solid #ddccf1;
    border-radius: 15px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
}

.button:disabled {
    pointer-events: none;
}

.button:hover {
    color: white;
    background-color: #a86dec;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button:active {
    box-shadow: none;
    transform: translateY(0);
}
